header{
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  box-shadow: var(--shadow);
}

header h2 {
  font-size: 1.5rem;

}

a{
  color: var(--light);
  text-decoration: none;
  font-size: 700;
  font-size: 18px;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 1rem;
  padding: 0 0.125rem;

}

a.active{
  border-bottom: 3px solid var(--light);
}
main{
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;

}
h1{
  font-size: 2.5rem;
  margin-bottom: 6rem;

}

.home-img{
  width: 100%;
  max-width: 400px;
}

.pkmn-select{
  width: 100%;
  max-width: 300px;
  padding: 0.25rem;
  font-size: 1rem;
  text-transform: capitalize;
  margin-bottom: 6rem;
}

.pkmn-select option{
  text-transform: capitalize;
  font-size: 1rem;
}

.btn{
  cursor: pointer;
  background: var(--primary);
  color: var(--light);
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: var(--font);
  text-transform: uppercase;
  font-weight: 900;
}

.disabled{
  pointer-events: none;
  opacity: 0.7;
}

.card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin-top: 6rem;
  background: var(--card);
  box-shadow: var(--shadow);
  padding: 2rem;
}

.card h3{
  font-size: 1.5rem;
  text-transform: capitalize;

}

.card img{
  width: 150px;

}

.card .type{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .type p{
  text-transform: capitalize;
  margin: 0 1rem;
}

.card .col{
  width: 50%;
  text-align: center;
}

.card .stats{
  text-align: left;
}

.card .stats p{
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  font-size: 18px;
}

.card .stats p span{
  font-weight: 400;
}

.fondo-pokemones{
  background-image: url(https://images.unsplash.com/photo-1628968434441-d9c1c66dcde7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80);
  width: 100%;
  height: 40rem;
}